@font-face {
  font-family: Cheezy;
  src: url('../fonts/chieezy_burger/Chieezy\ Burger.ttf');
}

@font-face {
  font-family: Ranmor;
  src: url('../fonts/ranmor/Ranmor.ttf');
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

body,
p,
h1,
h2,
h3,
label,
span,
button,
input,
select,
th{
  font-family: Ranmor;
}



.mainContainer {
  background: linear-gradient(118deg, #BEE5FF 12.94%, rgba(206, 224, 255, 0.00) 98.1%);
  /* height: 1080px; */
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  min-height: 100vh;
}

.mainNav {
  /* background: white; */
  z-index: 101 !important;
}

.mainContainer div {
  z-index: 1;
}

.mainContSvgEllipse {
  position: absolute;
  bottom: 10vh;
  right: 0;
}

.maintContSvgCurve {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.webTitle {
  color: #45AAEE;
  text-align: left;
  /* font-family: Cheezy; */
  font-family: Ranmor;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 57.6px */
}

.navmenu {
  color: #02025A;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  font-family: Ranmor;
  font-size: 23px;

}

.activenav{
  border-radius: 8px;
  background: linear-gradient(254deg, #325AAB 28.16%, #45AAEE 93.75%);
  display: flex;
  width: 140px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font-size: 15px;
}

.signinImgContainer {
  background-color: #02025a36;
}

.bendImgDiv {
  border-radius: 20px;
}

.signinImg {
  width: 100%;
  height: 99%;
}

.coloredText {
  color: #02025A;
  /* font-family: Poppins; */
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 48px */
}

.formInputField {
  border-radius: 30px !important;
  border: 1px solid #315CA3;
  background: #FFF;
  box-shadow: 0px 4px 6px 0px rgba(158, 157, 161, 0.22);
}

.input-group .input-group-text {

  position: absolute;
  right: 0;
  z-index: 10;
  pointer-events: none;
  /* Makes the icon non-interactive */
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: 0px;

}

.eyebtn {
  /* cursor: pointer; */
  background: green;
}

.input-group .formInputField {
  padding-right: 30px;
  /* Adjust the right padding to make room for the icon */
}

.signinupBtn {
  border-radius: 30px;
  background: linear-gradient(253deg, #45AAEE 28.76%, #02025A 95.12%);
  box-shadow: 0px 2px 14px 0px #D9CFF6;
  font-family: Ranmor;
}

.dashmenu {
  border-radius: 8px;
  background: linear-gradient(254deg, #325AAB 28.16%, #45AAEE 93.75%);
  display: flex;
  width: 140px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font-size: 15px;
}

.ellipsis {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

@media screen and (max-width: 767px) {
    .ellipsis {
        width: 273px;
    }
}


.serviceContainer {
  position: relative;
}

.serviceVector {
  position: absolute;
  top: 33px;
  left: -21px;
}


.serviceBoxContainer {
  z-index: 100;
  /* border: 1px solid black; */
}

.serviceBox {
  width: 140px;
  height: 100px;
  border-radius: 10px;
  background: #EAF0FF;
  box-shadow: 0px 4px 4px 0px rgba(95, 91, 91, 0.13);
  padding: 19px 8px 8px 8px;
  position: relative;
  cursor: pointer;

}

.serviceBox:hover {
  background: linear-gradient(253deg, #45AAEE 28.76%, #02025A 95.12%);
  color: white;
  animation: bounce 0.5s;

}

.serviceBoxActive {
  background: linear-gradient(253deg, #45AAEE 28.76%, #02025A 95.12%);
  color: white;
}


.serviceBoxVector {
  position: absolute;
  top: 13px;
  left: 30px;
}

.service {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.serviceLogo {
  width: 29px;
  height: 29px;
}

.dashFormLabel {
  color: #02025A;
  font-size: 14px;
}

.dashSelect {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='16' viewBox='0 0 24 16' fill='none'%3e%3cpath d='M23.5 0H0.5L12.371 16L23.5 0Z' fill='%2345AAEE'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 23px 16px;
}





.vodiapicker{
  display: none; 
}

#trayListUl{
  padding-left: 0px;
}

#trayListUl img, .btn-select img{
  width: 30px;
  margin-left: 5px;

}

#trayListUl li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#trayListUl li:hover{
 background-color: #F4F3F3;
}

#trayListUl li img{
  margin: 5px;
}

#trayListUl li span, .btn-select li span{
  margin-left: 10px;
}

/* item list */

.b{
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;

}

.open{
  display: show !important;
}

.btn-select{
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;

}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li{
  margin-left: 0px;
}

.btn-select:hover{
  background-color: #F4F3F3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;


}

.btn-select:focus{
   outline:none;
}

.lang-select{
  margin-left: 50px;
}

.serviceTable{
  z-index: 101;
}
.serviceTable th{
   font-size: 21px;
   color: #02025A;
}

#serviceDetailsModal, #orderModal, #frgtPassModal{
  z-index: 999;
}

.serviceRow td{
  vertical-align: middle;
  text-align: left;
}

.modal-backdrop{
  z-index: 101;
}

.signUpModal{
  z-index: 102 !important;
}

#forgetPassModal{
  z-index: 111;
}

.addOrderResponseModal{
  z-index: 111 !important;
}

.loading-overlay {
  position: fixed; /* Cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  z-index: 1050; /* Ensure it's above other content but below modals if needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 111 !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



